<div class="cat-about">
    <div class="bottom-border">
        <h2>Hakkında</h2>
    </div>
        
     <div class="cat-info">
         <p><%= @category.description %></p>
        <span class="cat-numbers">
            <h3><%= @questions.count %></h3>
            <p> Soru </p>
        </span>
        <span class="cat-numbers">
            <h3> <%= @category.followers_count %></h3>
            <p> Takipçi </p>
        </span>
    </div>
</div>
<div class="bottom-border">
    <h2>Benzer Kategoriler</h2>
</div>
<div class="cat-related">
    <span class="cat-related-img"></span>
    <span class="cat-related-desc">
        
    </span>
</div>
